@model takionline.Models.Müsteri

@{
    ViewBag.Title = "MüsteriKayit";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}

<h2>Müşteri Kayıt Düzenleme</h2>
<form action="/Admin/MüsteriEkle">

    <input id="Id" name="Id" value="@(Model !=null? Model.Id : 0 )" hidden />

    <div class="form-group">
        <label for="Adi">Adı</label>
        <input id=" Adi" name="Adi" class="form-control" placeholder=" Adını Giriniz" value="@(Model !=null? Model.MüsteriAdi : "" )" />
    </div>
    <div class="form-group">
        <label for="Soyadi">Soyadı</label>
        <input id=" Soyadi" name="Soyadi" class="form-control" placeholder="Soyadını Giriniz" value="@(Model !=null? Model.MüsteriSoyadi : "" )" />
    </div>
    <div class="form-group">
        <label for="Email">E posta</label>
        <input type="email" id=" Email" name="Email" class="form-control" placeholder="E posta Giriniz" value="@(Model !=null? Model.Email : "" )" />
    </div>
    <div class="form-group">
        <label for="TCKimlikNo">TC Kimlik NO</label>
        <input type="number" id=" TCKimlikNo" name="TC Kimlik No" class="form-control" placeholder="TC Kimlik No Giriniz" value="@(Model !=null? Model.TCKimlikNo : "" )" />
    </div>
    <div class="form-group">
        <label for="Tel">Telefon</label>
        <input type="number" id=" Tel" name="Tel" class="form-control" placeholder="Telefon No Giriniz" value="@(Model !=null? Model.Tel : null)" />
    </div>
    <div class="form-group">
        <label for="Adres">Adres</label>
        
        <textarea id=" Adres" name="Adres" class="form-control" placeholder="Adres Giriniz">@(Model !=null? Model.Adres : null)</textarea>
    </div>



    <button type="submit" class="btn btn-success">Kaydet</button>

</form>


<script>
    var isim = "Ezgi";
    console.log("Benim Adım:" + isim);
</script>
